<html>
<head>
  <meta charset="UTF-8" lang="JA">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="./VueQrcodeReader.umd.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://unpkg.com/dexie@latest/dist/dexie.min.js"></script>
  <link rel="stylesheet" href="./style.css">
  <link rel="manifest" href="manifest.json"/>
  <!--<link rel="apple-touch-icon" href="./icon-192.png"/>-->
  <title>Final</title>
</head>
<body>
  <div id="app">
    <p class="error">{{error}}</p>
    <div v-if="!FullscreenChange">
    <p class="decode-result">最後の読み取り結果: <b>{{result}}</b><br>
    Last answer: <b id="LA"></b></p>
    <div class="AddData">
    <button type="button" @click="bulkPutData">DBData追加</button>
    <div class="deleteData">
    <button class="deleteData" type="button" @click="deleteData">DBData削除</button>
    </div>
    </div>
    <button style="position: fixed;bottom:20px;right: 20px;z-index: 1000;" type="button" @click="onFullChange">全画面に変更</button>
    </div>
    <div v-if="FullscreenChange">
      <button style="position:fixed;bottom:20px;right:20px;z-index:1000;" type="button" @click="onDefaultChange">全画面を終了</button>
    </div>
    <qrcode-stream :camera="camera" @decode="onDecode" @init="onInit" class="fullscreen" id="Change"/>
    <img src="./OK.png" alt="OKサイン" v-if="JTFPause">
    <img src="./NG.png" alt="NGサイン" v-if="DPause">
  </div>
  <script src="./script.js"></script>
</body>
</html>
